
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.cursor-wrapper {
  position: absolute;
  width: 65px;
  height: 65px;
  transform: translate(-50%, -50%);
}

.cursor-image {
  width: 100%;
  height: auto;
}
